data
venv
generated_reports
*.log
*.swp
*.temp
*.sql
*.zip
*.txt
temp_*
test.*
test
temp
**/__pycache__/**
haxhq/xml
haxhq/logs
haxhq/haxhq/static/.well-known
certs
acme
.*
*.dbdump
haxhq/docx_templates/pentest_report_template__*
