beautifulsoup4
dnspython
docxtpl
Flask
Flask_WTF
psycopg2_binary
pyOpenSSL
requests
ua_parser
Werkzeug
WTForms
XlsxWriter
gunicorn
email_validator
defusedxml
qrcode[pil]
pyotp
flask_session
pylibmc
pexpect
